*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 5vh;
}

div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#pass , #fail{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
}

label{
    font-size: 1.1rem;
    font-weight: 600;
}

input{
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

#chkbx{
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

#chkbx input{
    width: auto;
    height: auto;
}

span{
    font-size: 1rem;
}

button{
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#registered{
    font-size: 2.5rem;
    color: green;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 2px 2px gray;
}
